<div id="loginbox" class="small-offset-3 small-6 columns text-center devise">
	<div id="public_home_container">
	<h1><%=t("Sign_up")%></h1>
	
	<div id="content_container_devise" class="sign_up_container">
		<%= render 'form' %>
	</div>	
	</div>
</div>
