<%= render :partial => "application/html/navigation", :locals => {:page => "info_page"} %>

<div id="content_container" class="content_index">
	<div class= "information">
		<span><%= t("FAQ")%></span>
	</div>	
</div> <!-- CONTENT -->